#nutrition-facts {
  font-family: Arial, Helvetica, sans-serif;
  width: 280px;
  background: white;
  border: 2px solid black;
  padding: 10px 12px;
  color: black;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

#nutrition-facts h1{
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.5px;
}

#nutrition-facts hr {
  border: none;
  border-top: 1px solid black;
  margin: 4px 0;
}

#nutrition-facts hr.thick {
  border-top: 8px solid black;
  margin: 6px 0;
}

#nutrition-facts .serving {
  font-size: 13px;
  margin-bottom: 4px;
}

#nutrition-facts .line,
#nutrition-facts .subline {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

#nutrition-facts .line.bold {
  font-weight: bold;
  margin-top: 5px;
}

#nutrition-facts .subline {
  padding-left: 15px;
  font-size: 12px;
}

#nutrition-facts .calories {
  font-size: 18px;
  font-weight: bold;
}

#nutrition-facts .value {
  margin-left: auto;
  padding-left: 5px;
}

#nutrition-facts .daily {
  margin-left: 10px;
}

#nutrition-facts .note {
  font-size: 10px;
  margin-top: 5px;
  color: #333;
}

.globe{
    height: 1em;
    vertical-align: middle;
}

.deal{
    height: 100%;
    width: 300px;
    margin:none;
}

.leaflet-popup-content{
    display: inline-block;
    flex-direction: column;
    width:auto;
}
.leaflet-popup-content-wrapper{
    display: inline-block;
    width:auto;
}

.here {
	place-self: center;
	background: linear-gradient(90deg, #00f, rgb(108, 181, 165), #00f) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 900 clamp(0.2em, 1.2vw, 1.2em) exo, sans-serif;
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

.leaflet-pane.leaflet-marker-pane > :first-child {
  animation: huecycle 3s infinite;
}
@keyframes huecycle {
	0%   { filter: hue-rotate(0deg); }
	25%  { filter: hue-rotate(-60deg); }
	50%  { filter: hue-rotate(0deg); }
}

@keyframes fizzup {
  0% {top: 3.5em; opacity: 0%;}
  25%{margin-left:10px; opacity: 20%;}
  50%{margin-left:-10px;}
  75%{margin-left:10px;}
  100% {margin-left:-10px;top: -3.5em;opacity: 0;}
}

@-webkit-keyframes fizzup {
  0% {top: 3.5em; opacity: 0%;}
  25%{margin-left:10px; opacity: 20%;}
  50%{margin-left:-10px;}
  75%{margin-left:10px;}
  100% {margin-left:-10px;top: -3.5em;opacity: 0;}
}
html,body{
    height:100%;
}
/*
.section {
  width: 100%;
  height: 100%;
  background-color:red;
}
  */
.bubblepop {
  position: absolute;
  top:0px;
  height: 100%;
  width: 75%;
  left: 25%;
  pointer-events: none;
}

.fizz {
  float: left;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  animation-name: fizzup;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-name: fizzup;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  z-index: 0;
  opacity: 20%;
  pointer-events: none;
}

.title{
    color: rgb(255, 255, 255);
    text-shadow: rgb(21, 21, 21) 3px 5px 2px;
    --darkreader-inline-color: var(--darkreader-text-ffffff, #e8e6e3);
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: var(--darkreader-background-996d6d, #765252);
    pointer-events: none;
}

.header{
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(37, 96, 113) 15%, rgba(87, 199, 133, 1) 53%, rgba(237, 221, 83, 1) 100%);
    pointer-events: none;
}

.header-line{
    display: flex;
    justify-content: space-between;
}

.spline{
    position: absolute;
    z-index: 10;
    top:0%;
    left: 55%;
}

.spline-1{
    animation: spline-1-keys 30s ease-in infinite;
}

@keyframes spline-1-keys{
    0% {transform: translate(65%, -35%);}
    5% {transform: translate(30%, -35%);}
    25% {transform: translate(30%, -35%);}
    30% {transform: translate(65%, -35%);}
    100% {transform: translate(65%, -35%);}
}

.spline-2{
    animation: spline-2-keys 30s ease-in infinite;
}

@keyframes spline-2-keys{
    0% {transform: translate(65%, -33%);}
    25% {transform: translate(65%, -33%);}
    30% {transform: translate(30%, -33%);}
    50% {transform: translate(30%, -33%);}
    55% {transform: translate(65%, -33%);}
    100% {transform: translate(65%, -33%);}
}

.spline.spline-3{
    left: 60%;
    animation: spline-3-keys 30s ease-in infinite;
}

@keyframes spline-3-keys{
    0% {transform: translate(65%, -7%);}
    50% {transform: translate(65%, -7%);}
    55% {transform: translate(32%, -7%);}
    75% {transform: translate(32%, -7%);}
    80% {transform: translate(65%, -7%);}
    100% {transform: translate(65%, -7%);}
}

.spline.spline-4{
    left: 60%;
    animation: spline-4-keys 30s ease-in infinite;
}

@keyframes spline-4-keys{
    0% {transform: translate(32%, -22%);}
    5% {transform: translate(65%, -22%);}
    75% {transform: translate(65%, -22%);}
    80% {transform: translate(32%, -22%);}
    100% {transform: translate(32%, -22%);}
}