#nutrition-facts {
  font-family: Arial, Helvetica, sans-serif;
  width: 280px;
  background: white;
  border: 2px solid black;
  padding: 10px 12px;
  color: black;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

#nutrition-facts h1{
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.5px;
}

#nutrition-facts hr {
  border: none;
  border-top: 1px solid black;
  margin: 4px 0;
}

#nutrition-facts hr.thick {
  border-top: 8px solid black;
  margin: 6px 0;
}

#nutrition-facts .serving {
  font-size: 13px;
  margin-bottom: 4px;
}

#nutrition-facts .line,
#nutrition-facts .subline {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

#nutrition-facts .line.bold {
  font-weight: bold;
  margin-top: 5px;
}

#nutrition-facts .subline {
  padding-left: 15px;
  font-size: 12px;
}

#nutrition-facts .calories {
  font-size: 18px;
  font-weight: bold;
}

#nutrition-facts .value {
  margin-left: auto;
  padding-left: 5px;
}

#nutrition-facts .daily {
  margin-left: 10px;
}

#nutrition-facts .note {
  font-size: 10px;
  margin-top: 5px;
  color: #333;
}

.globe{
    height: 40px;
    vertical-align: middle;
}

.deal{
    height: 100%;
    width: 300px;
    margin:none;
}

.leaflet-popup-content{
    display: inline-block;
    flex-direction: column;
    width:auto;
}
.leaflet-popup-content-wrapper{
    display: inline-block;
    width:auto;
}

.here {
	place-self: center;
	background: linear-gradient(90deg, #00f, rgb(163, 42, 179), #00f) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 900 clamp(0.2em, 1.2vw, 1.2em) exo, sans-serif;
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

.leaflet-pane.leaflet-marker-pane > :first-child {
  animation: huecycle 3s infinite;
}
@keyframes huecycle {
	0%   { filter: hue-rotate(0deg); }
	25%  { filter: hue-rotate(90deg); }
	50%  { filter: hue-rotate(0deg); }
}